@import "tailwindcss";
:root{
  --bg-color: #090616;
  --sec-color: #06b6d4;
  font-family: "JetBrains Mono", monospace;
  font-optical-sizing: auto;
}


body {
  background-color: var(--bg-color);
  width: 100%;
  height: 100%;
}